## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

In [1]:
import pandas as pd
import numpy as np

In [2]:
country = np.random.permutation(10)
people = np.random.randint(100000, size = 10)

data_dict = {'國家': country,
        '人口': people}
data = pd.DataFrame(data_dict)
data

   國家     人口
0   8  12844
1   2  47878
2   3  87147
3   4  88008
4   9  27716
5   5  16138
6   1  12952
7   0   9170
8   7   8927
9   6  27044

In [3]:
# 求人口最多的國家
print(data.loc[data['人口'].idxmax(), '國家'])

4